body {
	padding-top: 3em;
	background: #93cede; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

a:hover{
    text-decoration: none;
}

.titulo {
	padding-top: 5px;
	font-size: 20px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
}

.col-fixed {
    width:320px;
}
.col-min {
    min-width:320px;
}
.col-max {
    max-width:320px;
}

#map-canvas {
	width:100%;
	height:500px;
}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-pyspch');
	src:url('../fonts/icomoon.eot?#iefix-pyspch') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-pyspch') format('truetype'),
		url('../fonts/icomoon.woff?-pyspch') format('woff'),
		url('../fonts/icomoon.svg?-pyspch#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cruz-redondo:before {
	content: "\f055";
}
.icon-medico:before {
	content: "\f0f0";
}
.icon-estetoscopio:before {
	content: "\f0f1";
}
.icon-ambulancia:before {
	content: "\f0f9";
}
.icon-maletin:before {
	content: "\f0fa";
}
.icon-hospital:before {
	content: "\f0fd";
}
.icon-cruz:before {
	content: "\f0fe";
}
.icon-auto:before {
	content: "\f36f";
}
.icon-caminar:before {
	content: "\f3bb";
}

.icon-large{
	font-size: 40px;
}

.icon-md{
	font-size: 16px;
}

.icon-verde{
	color: #339933;
}
