<div class="row row-centered">
  <div class="col-xs-12 col-md-6 col-centered">
    <div class="panel panel-success">
			<div class="panel-heading">
				<div class="btn-group pull-right" role="group">
					<button ng-click="modocaminar()" type="button" class="btn btn-md btn-success" ng-class="{'active': x.modo == 'WALKING'}">
						<span class="icon-caminar icon-md"></span>
					</button>
					<button ng-click="modoauto()" type="button" class="btn btn-md btn-success" ng-class="{'active': x.modo == 'DRIVING'}">
						<span class="icon-auto icon-md"></span>
					</button>
				</div>
				<h1 class="panel-title titulo">Farmacias de turno</h1>
				<div class="clearfix"></div>
			</div>
      <div class="panel-body" style="padding: 0" ng-cloak>
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>